<h1>Editing as_label</h1>

<%= render 'form' %>

<%= link_to 'Cancel', as_note_as_labels_path(@as_note) %> |
<%= link_to 'Destroy', [@as_note,@as_label], :confirm => 'Are you sure to delete this column and all releated data?', :method => :delete %> |
<%= link_to 'Show', [@as_note,@as_label] %>
