<div class="header_menu">
  <%= link_to 'Cancel', as_note_as_labels_path(@as_note) %> &nbsp;
</div>

<b><%= link_to @as_note.name, as_note_as_values_path(@as_note) %> Add Column:</b>
<BR/>
<BR/>

<%= render 'form' %>

