<%= form_for(@followship) do |f| %>
  <% if @followship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followship.errors.count, "error") %> prohibited this followship from being saved:</h2>

      <ul>
      <% @followship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
