<h1>Listing followships</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @followships.each do |followship| %>
  <tr>
    <td><%= link_to 'Show', followship %></td>
    <td><%= link_to 'Edit', edit_followship_path(followship) %></td>
    <td><%= link_to 'Destroy', followship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Followship', new_followship_path %>
