html,
body {
	/*background: #CACACA;*/
	/*font-family: "Trebuchet MS", Verdana, serif*/
  margin:0;
  padding:0;
  height: 100%;
}
#container {
  position:relative;
	width: 100%
}
#header {
  background-color: #CACACA;
  font-size: 14pt;
}
#sub_header_left {
  float: left;
	text-align: left;
  font-weight: bold;
  font-size: 14pt;
	padding-left: 8px;
}
#sub_header_left a {
  color: black;
}
#flashnotice {
  display: inline;
  font-size: 14px;
  color: blue;
}
#sub_header_right {
  float: right;
	/*color: blue;*/
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	padding-right: 8px;
  padding-top: 6px;
}
.header_menu {
  display: none;
  float: left;
	/*text-align: left;*/
	font-size: 12px;
	padding-left: 12px;
  padding-top: 6px;
}
.header_menu a {
	color: blue;
}
#main_content_top {
	height: 30px;
	background: #FFFFFF;
} 
#main_content {
	/*text-align: center;*/
	margin: 0 auto;
	width: 98%;
	background: #FFFFFF;
} 
#login {
  /*float: left;*/
  text-align: center;
}
#signup {
  text-align: center;
}
#user_setting {
  float: center;
  text-align: right;
}
#users_list {
  float: center;
  text-align: center;
  padding: 0 30px 0 30px;
  font-size: 26px;
  line-height: 40px;
}
#notes_list {
  float: center;
  text-align: center;
  padding: 0 30px 0 30px;
  /*border-right: #8C8484 1px solid;*/
  font-size: 26px;
  line-height: 40px;
}
#notes_list ul li {
  text-align: center;
  list-style-type: disc;
}
.list_head {
  font-size: 14px;
}
#public_notes_list {
  float: center;
  text-align: center;
  padding: 0 30px 0 30px;
  font-size: 26px;
  line-height: 40px;
}
#public_list ul li {
  text-align: center;
  list-style-type: disc;
}
/*
.side_menu {
  float: right;
  padding: 0 10px 0 10px;
  border-left: #CACACA 2px solid;
  text-align: left;
  font-size: 16px;
  color: blue;
  line-height: 40px;
}
.side_menu ul li {
  margin-right:: 0;
  padding: 10px 0 10px 0px;
  list-style-type:circle
}
*/
.usermenu {
  /*float: left;*/
  display: none;
	color: blue;
	font-size: 12px;
	padding-top: 2px;
}
.usermenu a {
	color: blue;
	font-weight: normal;
}
.user_item {
  display: inline;
}
.note_item {
  display: inline;
}
.follow_form {
  float: right;
  display: inline;
	color: blue;
	font-size: 12px;
}
.navmenu {
  /*float: left;*/
  display: none;
	color: blue;
	font-size: 12px;
}
.navmenu a {
	color: blue;
}
#clear {
  display: block;
  clear: both;
  width: 100%;
  height:1px;
  overflow:hidden;
}
#main_content_bottom {
	height: 20px;
	background: #FFFFFF;
  padding:10px;
  padding-bottom:20px;   /* Height of the footer */
}
#footer {
  /*position:absolute;*/
  position: relative;
	text-align: center;
  height:50px;   /* Height of the footer */
  clear:both;
	font-size: 12px;
  width: 100%;
}
a { color: black }
a:hover { font-weight: bold; }
  
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

table {
  border-collapse:collapse;
  margin:1em 0;
  width:100%;
}
th, td {
  border:1px solid #AAA;
  padding:0.5em;
  text-align:left;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}


form {
  display: inline
}


