
<h3>followers:</h3>
<ul>
<% @users.each do |user| %>
  <%= content_tag_for :li, user do %>
    <div class="user_item">
      <%= link_to user.email, user_path(user) %> 
    </div>
    <br />
  <% end %>
<% end %>
</ul>
