<h1>Listing as_notes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @as_notes.each do |as_note| %>
  <tr>
    <td><%= link_to as_note.name, as_note_as_values_path(as_note) %></td>
    <td><%= as_note.comment %></td>
    <td><%= link_to 'Setting', as_note %></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New As note', new_as_note_path %>

