<h1>Listing data for: <%= @as_note.name %></h1>

<table>
  <tr>
    <th>l1</th>
    <th>l2</th>
    <th>l3</th>
    <th>l4</th>
    <th>l5</th>
  </tr>

  <tr>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
  </tr>
</table>

<br />

