<% @labels.each do |as_label| %>
  <div class="field">
    <%= as_label.name %> 
		<%= text_area_tag("content[#{as_label.id}]", AsValue.current_value(@numero,as_label.id)) %>
  </div>
<% end %>

<div class="actions">
  <%= submit_tag "Submit" %>
</div>
