<h1>Editing Record</h1>

<%= form_tag({:action=>"update",:sort=>@sort,:direction=>@direction,:search=>@search,:label=>@label,:page=>@page},:method=>"put") do %>
  <%= render 'form_content' %>
<% end %>

<BR />
<%= link_to 'Back', as_note_as_values_path(@as_note) %> |
<%= link_to 'Show', as_note_as_value_path(@as_note,@numero) %>
