<div class="header_menu">
  <%= link_to 'Cancel', as_note_as_values_path(@as_note) %>
</div>

<b> <%= link_to @as_note.name, as_note_as_values_path %>: New_Record</b> 
<BR/>
<BR/>

<%= form_tag(:action=>"create") do %>
  <%= render 'form_content' %>
<% end %>

